@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
.header {
  height: 100%;
  width: 100%;
  border-left: 15px solid #ffffff;
  border-top: 15px solid #ffffff;
  border-right: 15px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .header_background {
    height: 100%;
    width: 100%;
    background: url(../img/header_background.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header_background .header_title {
      font-size: 48px;
      font-family: "Josefin Sans";
      font-weight: 700;
      letter-spacing: 5px;
      line-height: 48px;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center; }
    .header_background .header_text {
      font-size: 22px;
      font-family: "Josefin Sans";
      font-weight: 400;
      letter-spacing: 7px;
      line-height: 26px;
      color: #ffffff;
      text-align: center; }
    .header_background .header_search {
      margin-top: 55px;
      height: 60px;
      border: 2px solid #ffffff;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header_background .header_search .search_input_wrap {
        height: 100%;
        width: 76.92%; }
        .header_background .header_search .search_input_wrap .search_input {
          height: 100%;
          width: 100%;
          font-size: 14px;
          font-family: "Josefin Sans";
          font-weight: 400px;
          letter-spacing: 3px;
          line-height: 26px;
          color: #999999;
          text-align: center;
          border: 5px solid #ffffff; }
          .header_background .header_search .search_input_wrap .search_input placeholder {
            border: none; }
      .header_background .header_search .search_button_wrap {
        height: 100%;
        width: 23.08%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #5474fd; }
        .header_background .header_search .search_button_wrap .button {
          font-size: 14px;
          font-family: "Aleo";
          font-weight: 400;
          letter-spacing: 1px;
          line-height: 26px;
          color: #ffffff;
          margin: 0 5% 0 10%;
          text-transform: uppercase;
          text-align: center; }
        .header_background .header_search .search_button_wrap .search_logo {
          margin: 0 5%; }
          .header_background .header_search .search_button_wrap .search_logo .svg_white {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(123deg) brightness(103%) contrast(102%); }
      .header_background .header_search .scroll {
        margin-top: 120px;
        font-size: 14px;
        font-family: "Josefin Sans";
        font-weight: 400;
        letter-spacing: 3px;
        line-height: 26px;
        color: #ffffff;
        text-align: center; }
        .header_background .header_search .scroll .scroll_logo {
          rotate: -90deg;
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(123deg) brightness(103%) contrast(102%); }
  .header .navbar_wrap {
    height: 80px;
    width: 100%;
    background-color: #5474fd; }
    .header .navbar_wrap .navbar-brand {
      font-size: 24px;
      font-family: "Josefin Sans";
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 26px;
      color: #ffffff;
      text-transform: uppercase; }
    .header .navbar_wrap .nav-item {
      font-size: 14px;
      font-family: "Aleo";
      font-weight: 400;
      letter-spacing: 0;
      line-height: 26px;
      color: #ffffff;
      text-transform: uppercase; }

.we_are {
  height: 100%;
  width: 100%; }
  .we_are_wrapper {
    height: 100%;
    width: 100%;
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .we_are_background {
    height: 100%;
    width: 100%;
    background: url(../img/choose_background.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; }
  .we_are_title {
    font-size: 36px;
    font-family: "Aleo";
    font-weight: 400;
    letter-spacing: 0;
    line-height: 26px;
    color: #ffffff; }
  .we_are_text {
    font-size: 16px;
    font-family: "Josefin Sans";
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 26px;
    color: #e8e8e8;
    margin-top: 65px; }
    .we_are_text p:nth-child(2) {
      margin: 40px 0; }
  .we_are_button {
    height: 60px;
    width: 225px;
    background-color: #5474fd;
    font-size: 16px;
    font-family: "Aleo";
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 60px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0; }
  .we_are_pic_1 {
    margin-left: 65px;
    margin-bottom: 5px; }
  .we_are_logotype {
    height: 335px;
    width: 100%;
    position: relative; }
    .we_are_logotype .hide_circle {
      position: absolute;
      bottom: 0;
      left: 0;
      background: #333333;
      z-index: 18;
      height: 180px;
      width: 100%; }
    .we_are_logotype .circle_wrap {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 20px;
      left: 0; }
      .we_are_logotype .circle_wrap .circle {
        height: 200px;
        width: 450px;
        border: dotted #747474 2px;
        border-radius: 50%;
        position: relative; }
    .we_are_logotype_background {
      height: 100%;
      width: 100%;
      background: #333333;
      display: flex;
      justify-content: center;
      align-items: center; }
  .we_are .logotype {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 20; }
  .we_are_logo {
    height: 60px;
    width: 60px; }
    .we_are_logo img {
      height: 100%;
      width: 100%; }
    .we_are_logo .svg_purple {
      filter: invert(37%) sepia(74%) saturate(2026%) hue-rotate(216deg) brightness(102%) contrast(98%); }
    .we_are_logo .svg_red {
      filter: invert(57%) sepia(25%) saturate(5883%) hue-rotate(324deg) brightness(111%) contrast(125%); }
    .we_are_logo .svg_blue {
      filter: invert(49%) sepia(99%) saturate(2655%) hue-rotate(175deg) brightness(100%) contrast(103%); }
    .we_are_logo_text {
      font-size: 36px;
      font-family: "Aleo";
      font-weight: 400;
      letter-spacing: 0;
      line-height: 26px;
      color: #e8e8e8;
      text-align: center;
      margin-top: 40px; }

.we_do {
  border: 2px solid orangered; }
  .we_do_wrapper {
    height: 100%;
    width: 100%;
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .we_do_part_1 {
    height: 100%;
    width: 100%;
    background: url(../img/main_section_1.jpg) center center no-repeat;
    background-size: cover; }
  .we_do .black_wrap {
    background: #232323;
    opacity: .8;
    height: 52.86%;
    margin-bottom: 14.29%; }
    .we_do .black_wrap .black {
      margin: 0px 75px 0px 30px;
      border: 1px solid transparent; }
      .we_do .black_wrap .black .name_country {
        font-size: 20px;
        font-family: "Josefin Sans";
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 26px;
        color: #e8e8e8;
        margin-top: 55px; }
      .we_do .black_wrap .black .name_hotel {
        font-size: 20px;
        font-family: "Josefin Sans";
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 26px;
        color: #e8e8e8;
        text-transform: uppercase;
        margin: 30px 0; }
      .we_do .black_wrap .black .description {
        font-size: 16px;
        font-family: "Josefin Sans";
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 26px;
        color: #e8e8e8;
        margin-bottom: 40px; }
      .we_do .black_wrap .black .we_do_button {
        height: 60px;
        width: 225px;
        background-color: #5474fd;
        font-size: 16px;
        font-family: "Aleo";
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 60px;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        margin: 10px 0 40px; }
  .we_do_part_2 {
    height: 100%;
    width: 100%;
    background: url(../img/main_section_2.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end; }

.travel {
  height: 100%;
  width: 100%; }
  .travel_wrapper {
    height: 100%;
    width: 100%;
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .travel_background {
    height: 100%;
    width: 100%;
    background: url(../img/main_section_3.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; }
  .travel_title {
    font-size: 36px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Aleo";
    text-align: center; }
  .travel .name_autor {
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fefefe;
    font-family: "Josefin Sans";
    border: 2px solid #ad0497; }
  .travel .quote {
    border: 2px solid #04ad3c; }
    .travel .quote_marks .svg_purple {
      height: 36px;
      width: auto;
      filter: invert(37%) sepia(74%) saturate(2026%) hue-rotate(216deg) brightness(102%) contrast(98%);
      border: 5px solid #afaac0;
      float: left;
      margin: 7px 7px 7px 0; }
    .travel .quote_text {
      font-size: 16px;
      font-family: "Josefin Sans";
      font-weight: 400;
      letter-spacing: 0;
      line-height: 26px;
      color: #ffffff; }
