@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap');

.header {
   @include size($h, $w);
   border-left: 15px solid $color_w;
   border-top: 15px solid $color_w;
   border-right: 15px solid $color_w;
   @include display($df, $jc, $ai);

   &_background {
      @include size($h, $w);
      background: url(../img/header_background.jpg) center center no-repeat;
      background-size: cover;
      @include display($df, $jc, $ai);

      .header_title {
         @include font(48px, $ff, 700, 5px, 40px, $color_w);
         text-transform: uppercase;
         text-align: center;
         margin-top: 40px
      }

      .header_text {
         @include font(22px, $ff, 100, 5px, 26px, $color_w);
         text-align: center;
         margin-bottom: 45px;
      }

      @media (max-width:576px) {
         .header_title {
            @include font(28px, $ff, 700, 5px, 40px, $color_w);
         }

         .header_text {
            @include font(18px, $ff, 100, 5px, 26px, $color_w);
         }
      }
   }

   @media (max-width:768px) {
      & {
         max-height: 500px
      }
   }

   .search_input_wrap {
      @include size(60px, $w);
      border: 2px solid $color_w;
      border-right: none;


      .search_input {
         @include size($h, $w);
         @include font(14px, $ff, 400, 2px, 26px, #999999);
         text-align: center;
         border: 5px solid $color_w;

         &:focus {
            border: 2px solid $color_f;
         }
      }
   }

}


.search_button_wrap {
   @include size(60px, $w);
   @include display($df, $jc, $ai);
   background: $color_f;
   border: 2px solid $color_w;
   border-left: none;

   @media (max-width:768px) {
      border: 2px solid $color_w;
   }

   .button {
      @include font(14px, $ff_a, 400, 1px, 26px, $color_w);
      margin: 0 5% 0 10%;
      text-transform: uppercase;
      text-align: center;
   }

   .search_logo {
      margin: 0 5%;

      .svg_white {
         filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(123deg) brightness(103%) contrast(102%);
      }
   }
}


.scroll {
   margin-top: 120px;
   @include font(14px, $ff, 400, 3px, 26px, $color_w);
   text-align: center;

   .scroll_logo {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(123deg) brightness(103%) contrast(102%);
      @include size(15px, 15px);
      margin: 0 auto;

      &:hover {
         zoom: 1.5;
      }
   }
}


.navbar_wrap {
   @include size(80px, $w);
   background-color: $color_f;

   .navbar-brand {
      @include font(24px, $ff, 700, 2px, 26px, $color_w);
      text-transform: uppercase;
   }

   .nav-item {
      @include font(14px, $ff_a, 400, 0, 26px, $color_w);
      text-transform: uppercase;
   }

   @media (max-width:576px) {
      .navbar-brand {
         @include font(18px, $ff, 700, 5px, 40px, $color_w);
      }
   }

   @media (max-width:992px) {
      & {
         @include size(180px, $w);
      }
   }
}