.travel {
   @include size($h, $w);

   &_wrapper {
      @include size($h, $w);
      border-left: 15px solid $color_w;
      border-right: 15px solid $color_w;
      @include display($df, $jc, $ai);
      flex-direction: column;
   }

   &_background {
      @include size($h, $w);
      background: url(../img/main_section_3.jpg) center center no-repeat;
      background-size: cover;
      @include display($df, $jc, $ai);
   }


   &_title {
      @include font(36px, $ff_a, 400, 0, 26px, $color_w);
      text-align: center;
      margin: 17.8% 0 13.7%;
   }

   @media (max-width:768px) {
      &_title {
         margin: 5% auto;
      }
   }

   @media (max-width:576px) {

      &_title {
         @include font(26px, $ff_a, 400, 0, 26px, $color_w);
      }
   }

   &_pic {
      @include size(auto, $w);

   }

   .name_autor {
      @include font(20px, $ff, 400, 0, 26px, $color_fe);
      text-transform: uppercase;
      margin: 50px 30px;
   }

   .quote {

      &_marks {

         .svg_purple {
            @include size(36px, auto);
            filter: invert(37%) sepia(74%) saturate(2026%) hue-rotate(216deg) brightness(102%) contrast(98%);
            float: left;
            margin: -30px 10px 10px 30px;
         }

      }

      &_text {
         margin: 0 50px 0 30px;
         @include font(16px, $ff, 400, 0, 26px, $color_w);
      }
   }

   @media (max-width:1200px) {
      .name_autor {
         margin: 10px 30px 30px;
      }
   }

}

@media (max-width:768px) {
   .travel {
      max-height: 500px;
   }
}