.we_are {

   &_wrapper {
      @include size($h, $w);
      border-left: 15px solid $color_w;
      border-right: 15px solid $color_w;
      @include display($df, $jc, $ai);
      flex-direction: column;
   }

   &_background {
      @include size($h, $w);
      background: url(../img/choose_background.jpg) center center no-repeat;
      background-size: cover;
      min-height: 685px;
      @include display($df, $jc, $ai);
   }

   &_title {
      @include font(36px, $ff_a, 400, 0, 26px, $color_w);
   }

   &_text {
      @include font(16px, $ff, 400, 2px, 26px, $color_e8);
   }

   &_button {
      @include size(60px, 225px);
      background-color: $color_f;
      @include font(16px, $ff_a, 400, 1px, 60px, $color_w);
      text-transform: uppercase;
      text-align: center;
      margin: 10px 0;

      &:hover {
         box-shadow: 2px 1px 5px 1px $color_w;
      }
   }

   &_pic img {
      @include size($h, $w);
   }

   &_logotype {
      @include size(335px, $w);
      position: relative;

      .hide_circle {
         position: absolute;
         bottom: 0px;
         left: 0;
         background: $color_33;
         z-index: 18;
         @include size(230px, $w);
      }

      @media (max-width:1200px) {
         .hide_circle {
            @include size(190px, $w);
         }
      }

      @media (max-width:767px) {
         .hide_circle {
            display: none;
         }
      }

      @media (max-width:1200px) {
         & {
            @include size(250px, $w);
         }
      }

      @media (max-width:767px) {
         & {
            @include size(120px, $w);
         }
      }

      .circle_wrap {
         position: absolute;
         width: 100%;
         @include display($df, $jc, $ai);
         top: 20px;
         left: 0;

         .circle {
            @include size(200px, 450px);
            border: dotted #747474 2px;
            border-radius: 50%;
            position: relative;

         }

         @media (max-width:1440px) {
            .circle {
               @include size(250px, 400px);
            }
         }

         @media (max-width:1200px) {
            .circle {
               @include size(100px, 300px);
            }
         }

         @media (max-width:992px) {
            .circle {
               @include size(190px, 230px);
               margin: 0 10px
            }
         }
      }

      &_background {
         @include size($h, $w);
         background: $color_33;
         @include display($df, $jc, $ai);
      }

   }

   .logotype {
      @include display($df, $jc, $ai);
      flex-direction: column;
      position: relative;
      z-index: 20;
   }

   &_logo {
      @include size(60px, 60px);


      img {
         @include size($h, $w);

         &:hover {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(63deg) brightness(104%) contrast(104%);
         }

      }

      .svg_purple {
         filter: invert(37%) sepia(74%) saturate(2026%) hue-rotate(216deg) brightness(102%) contrast(98%);
      }

      .svg_red {
         filter: invert(57%) sepia(25%) saturate(5883%) hue-rotate(324deg) brightness(111%) contrast(125%);
      }

      .svg_blue {
         filter: invert(49%) sepia(99%) saturate(2655%) hue-rotate(175deg) brightness(100%) contrast(103%);
      }

      &_text {
         @include font(36px, $ff_a, 400, 0, 26px, $color_e8);
         text-align: center;
         margin-top: 40px;
      }


      @media (max-width:992px) {
         &_text {
            @include font(26px, $ff_a, 400, 0, 26px, $color_e8);
         }
      }

      @media (max-width:768px) {
         &_text {
            @include font(20px, $ff_a, 400, 0, 26px, $color_e8);
            margin-top: 20px;
         }
      }

      @media (max-width:576px) {
         &_text {
            @include font(18px, $ff_a, 400, 0, 26px, $color_e8);
            margin-top: 10px;
         }
      }
   }

   @media (max-width:768px) {
      &_logo {
         @include size(30px, 30px);
      }
   }

   @media (max-width:576px) {
      &_title {
         @include font(26px, $ff_a, 400, 0, 26px, $color_w);
      }
   }
}